<%- include('osapohjat/header'); %>
<body>
  <div class="container">
    <div class="sidebar">
      <ul class="genre-list">
        <% genres.forEach(genre => { %>
        <li>
          <a href="#" data-genre="<%= genre.name %>"><%= genre.name %></a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="main-content">
        <h1 class="main-title"></h1>
        <div class="movie-container">
          <% movies.forEach(movie => { %>
          <div class="movie-box">
            <h2><%= movie.title %></h2>
            <p>Kesto: <%= movie.length %> min</p>
            <p><%= movie.description %></p>
          </div>
          <% }); %>
        </div>
      </div>
  </div>

  <script>
const genreLinks = document.querySelectorAll(".genre-list a");
genreLinks.forEach((link) => {
  link.addEventListener("click", (e) => {
    e.preventDefault();
    const genre = link.getAttribute("data-genre");
    fetch(`/genret/${genre}`)
     .then((response) => response.json())
     .then((data) => {
        const movieContainer = document.querySelector(".movie-container");
        const mainTitleElement = document.querySelector(".main-title");
        mainTitleElement.textContent = `${genre} films`;
        movieContainer.innerHTML = "";
        data.movies.forEach((movie) => {
          const movieBox = document.createElement("div");
          movieBox.className = "movie-box";
          movieBox.innerHTML = `
                            <h2>${movie.title}</h2>
                            <p>Kesto: ${movie.length} min</p>
                            <p>${movie.description}</p>
                        `;
          movieContainer.appendChild(movieBox);
        });
      });
  });
});
  </script>
</body>
<!-- <%- include('osapohjat/footer'); %> -->